@import "../../root.scss";

#presentation {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .presentation-title {
        margin-bottom: 2rem;

        h1 {
            &:nth-child(2) {
                color: $text-primary;
            }
        }

        h3 {
            font-weight: 500;
            color: $text-second;
        }

        h1,
        h3 {
            font-family: "Segoe UI", sans-serif;
        }

        span {
            color: rgba(0, 223, 94, 0.85);
        }
    }

    .presentation-buttons {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 6rem;

        a {
            text-align: center;
            width: 12rem;
            height: 2.3rem;
            padding: 0.5rem;
            text-decoration: none;
            display: flex;
            justify-content: center;
            gap: 1rem;
            
            &:first-child {
                pointer-events: none;
                background-color: rgba(0, 223, 94, 0.4);
                &:hover,
                &:active {
                    color: rgba(23, 23, 23, 0.8);
                    background-color: rgba(0, 223, 94, 0.8);
                }
            }

            &:last-child {
                color: $text-primary;
                background-color: $bg-primary;
                border: 1px solid #333333;

                &:visited,
                &:link {
                    color: $text-primary;
                    font-weight: 400;
                }

                &:hover,
                &:active {
                    color: rgba(249, 249, 249, 0.8);
                    background-color: rgba(23, 23, 23, 0.8);
                }
            }

            &:visited,
            &:link {
                color: $bg-primary;
                font-weight: 700;
            }
        }
    }

    .presentation-img {
        transform: translateX(40px);
        transition: transform 3s 0.25s cubic-bezier(0, 1, 0.3, 1), opacity 0.3s 0.25s ease-out;
        will-change: transform, opacity;

        img {
            width: 70%;
        }
    }
}
