@import "../../root.scss";

header {
    width: 100%;
    
    #navbar {
        background: rgb(23, 23, 23) !important;
        background: linear-gradient(180deg, rgba(23, 23, 23, 1), 95%, rgba(255, 255, 255, 0) 100%) !important;

        .navbar-brand {
            font-size: 16px;
            color: $text-primary !important;
            text-transform: uppercase;
            font-weight: 800;
            span {
                &:first-child {
                    color: #5f5;
                }

                &:last-child {
                    color: #ff5;
                }
            }
        }

        .nav {
            .nav-item {
                .nav-link {
                    color: $text-primary !important;
                }
            }
        }
    }
}
